<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <head th:replace="fragments/head"></head>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>

<div>
    <section>
        <div>
            <div id="error-message" class="p-3 my-3 bg-warning text-dark" role="alert" th:if="${param.success}">
                Profil modifié avec succès !
            </div>

            <div th:replace="~{fragments/_flash_message}"></div>
        </div>

        <form class="w-25 mx-auto" method="put" action="#" th:action="@{/profile}" th:object="${form}">
            <div class="mb-3 row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" value="email@example.com" th:field="*{username}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" value="email@example.com" th:field="*{email}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" value="email@example.com" th:field="*{password}">
                </div>
            </div>
            <div class="">
                <button class="btn btn-warning float-end" type="submit">Modifier</button>
            </div>
        </form>
    </section>
</div>
</body>
</html>