<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <head th:replace="fragments/head"></head>
</head>
<body>
<div th:insert="fragments/nav :: nav"></div>
<section class="">
    <section class="d-flex justify-content-center">
        <form class="form-floating row g-3 align-items-center" method="post" action="#" data-th-action="@{/relation}" data-th-object="${user}">
            <div class="mb-3 col-auto">
                <label for="relation" class="form-label">Chercher une relation</label>
                <input type="email" class="form-control" id="relation" placeholder="Saisir une adresse email" th:field="*{email}">
            </div>
            <button class="btn btn-warning col-auto" type="submit">Ajouter</button>
        </form>
    </section>
</section>

</body>
</html>