<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <head th:replace="fragments/head"></head>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<section>
    <form class="w-25 mx-auto" method="post" action="#" data-th-action="@{/relation}" data-th-object="${user}">
        <div th:replace="~{fragments/_flash_message}"></div>
        <div class="form-group row d-flex align-items-end">
            <div class="col-8">
                <label for="relation" class="form-label">Chercher une relation</label>
                <input type="email" class="form-control" id="relation" placeholder="Saisir une adresse email" th:field="*{email}">
            </div>
            <div class="col-4">
                <button class="btn btn-warning col-auto" type="submit">Ajouter</button>
            </div>
        </div>
    </form>
</section>
</body>
</html>