<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <head th:replace="fragments/head"></head>
</head>
<body>

<nav th:replace="~{fragments/nav :: nav}"></nav>
<section class="mx-5">
    <form class="row g-3" method="post" action="#" data-th-action="@{/transaction}" data-th-object="${transaction}">
        <input hidden="hidden" name="senderUser" th:field="*{senderUser}" value="${user.id}">
        <div class="col-md-4">
            <select class="form-select" name="relations" id="relations" th:field="*{receiverUser}">
                <option selected value="">Sélectionnez une relation</option>
                <option data-th-each="u : ${relations}" data-th-value="${u?.id}" data-th-text="${u?.getUsername()}"></option>
            </select>
        </div>
        <div class="col-md-4">
            <input class="form-control" name="Description" id="description" placeholder="description" aria-label="description" type="text" th:field="*{description}">
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <input class="form-control" name="Montant" aria-label="montant" type="number" th:field="*{amount}" value="1">
                <span class="input-group-text" id="basic-addon2">€</span>
            </div>
        </div>
        <button class="btn btn-primary col-md-2" type="submit">Payer</button>
    </form>
</section>

<section class="m-5">
    <h2 class="fs-5">Mes transactions</h2>
    <div data-th-if="${transactions?.isEmpty()}">
        Aucune transaction en base de données
    </div>

    <table class="table" data-th-unless="${transactions.isEmpty()}">
        <thead>
        <tr>
            <th scope="col">Relations</th>
            <th scope="col">Description</th>
            <th scope="col">Montant</th>
        </tr>
        </thead>
        <tr data-th-each="t : ${transactions}">
            <td data-th-text="${t?.receiverUsername}"></td>
            <td data-th-text="${t?.description}"></td>
            <td data-th-text="${t?.amountCurrency}"></td>
        </tr>
    </table>
</section>
</body>
</html>